<div class="animation">
  <div class="moon-backgroud">
    <div class="moon small"></div>
    <div class="moon medium"></div>
    <div class="moon large"></div>
    <div class="moon xlarge"></div>
  </div>
  <div class="cloud-background">
    <div class="shade5"></div>
    <div class="shade7"></div>
    <div class="shade6"></div>
    <div class="shade8"></div>
    <div class="cloud1"></div>
    <div class="cloud2"></div>
    <div class="cloud3"></div>
    <div class="cloud4"></div>
  </div>
  <div class="star-background">
    <div class="star star11"></div>
    <div class="star star12"></div>
    <div class="star star21"></div>
    <div class="star star22"></div>
    <div class="star star31"></div>
    <div class="star star32"></div>
  </div>
</div>