<div class="container">
  <div class="nav">
    <a href="/">Home</a>🐱
    <a href="/lab/">lab</a>🐱
    <a href="/blogs/">blogs</a>🐱
    <a href="/skate/">skate</a>🐱
    <a href="/cook/">cook</a>
  </div>
</div>