---
title: lab
---

{% include  'navbar.njk' %}

<h1 class="page-title">Lab</h1>

<div class="container lab">
  {% code 'Button#2', '2020-11-17', 'Great! Another cool button.'%}
    {% codepen "https://codepen.io/jiyelileona/pen/YzWMrYq"%}
  {% endcode %}

  {% code 'Button#1', '2020-11-13', 'This is my first button with "x" effect.' %}
    {% codepen "https://codepen.io/jiyelileona/pen/abZXyPr" %}
  {% endcode %}
</div>