---
title: skate
---
{% include  'navbar.njk' %}

<h1 class="page-title">Skate</h1>
<div class="container skate">
  <p><b>Skateboarding isn’t a sport, it’s a lifestyle.</b></p>
  {% youtube "0MQynUrUDY4"%}
  {% youtube "G3ee60P1zIk"%}
  {% youtube "o7yZWFzQZcU" %}
  {% youtube "BmX9kwHKLyg"%}
</div>